{
  "IRC": {
     "Server": "server:port",
     "Ssl": true,
     "Channel": "#channel",
     "Realname": "swiltink",
     "Nick": "MusicBot",
     "Password": "password",
     "Master": "swiltink"
  },
  "API": {
     "Username": "admin",
     "Password": "bla"
  },
  "YoutubePlayer": {
     "YoutubeAPIKey": "<api key>",
     "Enabled": true,
     "MpvBinPath": "mpv",
     "MpvInputPath": ".mpv-input"
  },
  "SpotifyPlayer": {
     "Enabled": true,
     "Host": "127.0.0.1"
  }
}
