{
  "LogFile": "musicbot.log",
  "QueuePath": "musicbot-queue.txt",
  "StatsPath": "musicbot-stats.json",

  "IRC": {
     "Server": "server:port",
     "Ssl": true,
     "Channel": "#channel",
     "Realname": "swiltink",
     "Nick": "MusicBot",
     "Password": "password",
     "Master": "swiltink",
     "WhiteListPath": "whitelist.txt"
  },

  "API": {
     "Host": "",
     "Port": 7070,
     "Username": "admin",
     "Password": "bla"
  },

  "YoutubePlayer": {
     "Enabled": true,
     "YoutubeAPIKey": "<api key>",
     "MpvBinPath": "mpv",
     "MpvInputPath": ".yt-mpv-input"
  },

  "SpotifyPlayer": {
     "Enabled": true,
     "ClientID": "<clientID>",
     "ClientSecret": "<secret>",
     "TokenFilePath": ".musicbot-spotify-token"
  }
}
