# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true


[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  branch = "master"
  name = "github.com/fluffle/goirc"

[[constraint]]
  branch = "master"
  name = "github.com/vansante/go-event-emitter"

[[constraint]]
  branch = "master"
  name = "github.com/DexterLB/mpvipc"

[[constraint]]
  branch = "master"
  name = "google.golang.org/api"

[[constraint]]
  branch = "master"
  name = "github.com/svenwiltink/youtube-dl"

[[constraint]]
  branch = "master"
  name = "github.com/svenwiltink/rocketchatgo"

[[constraint]]
  branch = "master"
  name = "github.com/ChannelMeter/iso8601duration"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.2.1"
